
@import "base";
@import "constants";


.header-nav {
  margin: 20px 30px;

  &-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;      
  }
}

.header-nav-list > li:hover {
  color: $color-left;
}

.left-column {
  background-color: $color-left;

  &-wrapper {
    margin: 50px 30px;
  }
}

.photo {
  border-radius: 50%;
  display: block;
  margin: auto;
}

.line {
  margin: 10px 0;
  border-top: 3px solid $color-line;
}

.contact-list {
  text-align: center;
  padding: 20px 0 0 0;
}

.about-text {
  text-align: justify;
  padding: 20px 0 0 0;
}

.footer-list {
  margin: 60px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.footer-list > li:nth-child(1):hover {
  color: $color-line;
}

.right-column-wrapper {
  margin: 0 30px 50px 30px;
}

.education-list {
  text-align: center;
  padding: 20px 0 0 0;
}

.skills-list {
  margin: 0 0 0 20px;
  padding: 20px 0 0 0;
}

.language-list {
  padding: 20px 0 0 0;
  text-align: center;
}


